<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{%load static%}
<script  src="{%static "./gererImage.js"%}"></script>
<title>Create</title>
</head>
<style>
html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
	height: 100px; /* à titre d'exemple */
}
</style>
<body >

{% load crispy_forms_tags %}
{% block content %}
<div>
<h1 >Création</h1>
  <form method="post" id="file-catcher" enctype="multipart/form-data" class="justify-content-center">
    {%csrf_token%}
    {{form.as_p}}
    <button id="submit" type="submit" class="btn btn-success" class="col-lg-6 offset-lg-3 ">Post</button>
  </form>
    <button id="swap" type="" class="btn btn-success" >Changer d'ordre</button><br>

    <div class="image-preview" id="imagepreview" draggable="true" >
      <img src="" alt="Preview image" id="image-preview__image" display:"hidden" draggable="false" >
    </div>

  <br>
  {% endblock %}
</div>
<footer>
   <a href="../" style="float:left">Retour à l'écran d'accueil</a>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
